.connect{
	width: 50%;
}

.test{
	color: red;
}

.sixEmeb{
	background-color: #26a69a;
}

.lieuRetrais{
	background-color: #455a64;
	padding: 2%;
}

.titleLieuRetrais{
	color: #fff;
	font-size: 22px;
	/* font-weight: bold; */
}

.miseEnformeDiv{
	margin-left: 5%;
	/* float: left; */
}