.connect{
	width: 50%;
}

.test{
	color: red;
}

.sixEmeb{
	background-color: #26a69a;
}

.lieuRetrais{
	background-color: #455a64;
	padding: 2%;
}

.titleLieuRetrais{
	color: #fff;
	font-size: 22px;
	/* font-weight: bold; */
}

.miseEnformeDiv{
	margin-left: 5%;
	/* float: left; */
}

.testCol{
	float: left;
	margin-right: 10px;
	width: 30%;
}

.lebalCard{
	font-size: 16px;
	font-weight: blod;
	text-transform: uppercase;
	color: #00c853;
}

.upper{
	text-transform: uppercase;
}

.duBlanc{
	color: #fff;
}

.cardTitle{
	color: #ffab40;
}